<div class="container py-5" style="max-width: 540px">
  <h2>Set Username</h2>
  <%= form_with model: current_user, local: true, url:usernames_path(current_user) do |f| %>
    <div class="mb-3">
      <%= f.label :username, class: "form-label" %><br />
      <%= f.text_field :username, class: "form-control" %>
    </div>

    <%= f.submit "Set Username", class: 'btn btn-primary' %>
    <% end %>
</div>